/*nav .breadcrumb {*/
    /*display: inline;*/
    /*background-color: transparent;*/
    /*float: left;*/
    /*margin-bottom: 0;*/
    /*margin-top: 6px;*/
/*}*/
/*nav .breadcrumb li a {color: white;}*/
/*nav .breadcrumb li.active {color: #b8c7ce;}*/
/*nav .breadcrumb li a i.fa {padding-right: 6px;}*/

/*div.box form.form-horizontal {*/
    /*width: 99%;*/
/*}*/

/*!* connect with google-plus button*!*/
/*.btn-google-plus {*/
    /*color: #fff;*/
    /*background-color: #dd4b39;*/
    /*border-color: rgba(0,0,0,0.2);*/
/*}*/
